.event{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 8px;
    margin: 16px;
    justify-content: center;
    align-items: center;
}

.event__img{
    border-radius: 8px;
    height: 100%;
}
.event__data{
    display: flex;
    flex-direction: column;
    padding:16px;
    border-radius: 8px;
    border: 1px solid $gris100;
    box-shadow: $sombra;
    p{
        color: $gris400;
    }
    .price{
        color: $verde;
    }
}

.event__ticket{
    display: flex;
    gap: 8px;
    #input__cantidad{
        width: 40px;
    }
    margin-top: 8px;
    .icons{
        width: 16px;
    }
}

.ticketResale{
    display: flex;
    justify-content: center;
}