<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
        <header id="header">
            <section class="header__navBar">
                <nav>
                    <li><img src="icons/hamburguesaBlanco.png" alt="icono de menu"></li>
                    <li><p>Logo</p></li>
                    <li>
                        <div class="searchBar">
                            <img src="icons/image.png" alt="lupa">
                            <input type="search" placeholder="Buscar">
                        </div>
                    </li>
                    <li>
                        <p>UserName</p>
                    </li>
                    <li>
                        <img src="icons/logoutBlanco.png" alt="">
                    </li>
                </nav>
            </section>
            <section class="header__info">
                <h1 class="info__title">
                    Mis Boletos
                </h1>
                <p class="info__description">
                    Gestiona todos tus boletos de manera fácil y rápida. Aquí puedes ver la fecha y el evento de tus boletos, cuántos tienes disponibles y optar por vender aquellos que no puedas usar. Mantén el control total de tus compras y ventas en un solo lugar.
                </p>
                <input type="button" class="btn info__btn" value="Ver Eventos">
            </section>
            <section class="header__redes">
                <li><img src="images/logos/" alt="logo de instagram"></li>
                <li><img src="images/logos/" alt="logo de tiktok"></li>
                <li><img src="images/logos/" alt="logo de X"></li>
            </section>
        </header>
        <main>
            <section class="events">
                <img class="event__img" src="" alt="imagen del evento">
                <div class="event__data">
                    <h2 class="data__title">Titulo del evento</h2>
                    <p class="data__description">Descripcion</p>
                    <p class="data__location">Ubicacion<img src="" alt=""></p>
                    <p class="data__date
                    ">Fecha<img src="" alt=""></p>
                    <p class="data__type">VIP</p>
                    <input  class="btn btn__resale" id="" type="button" value="Revender">
                </div>
            </section>
        </main>
        <footer>
            <div class="footer__menu">
                <ul>
                    <li><a href="#header">Inicio</a></li>
                    <li><a href="#reventa">Reventa</a></li>
                    <li><a href="#eventos">Eventos</a></li>
                </ul>
            </div>
            <div class="footer__logo">
                <p>logo</p>
            </div>
            <div class="footer__redes">
                <li><img src="images/logos/" alt="logo de instagram"></li>
                <li><img src="images/logos/" alt="logo de tiktok"></li>
                <li><img src="images/logos/" alt="logo de X"></li>
            </div>
            <hr>
            <p>© 2021 TicketMaster</p>
        </footer>   
</body>
</html>