<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revender</title>
</head>
<body>
    <nav>
        <li><img src="icons/hamburguesaBlanco.png" alt="icono de menu"></li>
        <li><p>Logo</p></li>
      
        <li>
            <p>UserName</p>
        </li>
        <li>
            <img src="icons/logoutBlanco.png" alt="">
        </li>
    </nav>
    <section class="banner__resale">
            <h2 class="banner__title">Publicar Boletos</h2>
            <p class="banner__descirption">lorem</p>
    </section>
    <section class="event">
        <img class="event__img" src="" alt="imagen del evento">
        <div class="event__data">
            <h2 class="data__title">Titulo del evento</h2>
            <p class="data__description">Descripcion</p>
            <p class="data__location">Ubicacion<img src="" alt=""></p>
            <p class="data__date">Fecha<img src="" alt=""></p>
            <div class="event__ticket">
                <input type="checkbox" name="" id="">
                <p>VIP</p>
                <input type="number" name="" id="">
                <input type="number" name="" id="" placeholder="Precio">
            </div>
            <input  class="btn btn__resale" id="btn__resale--public" type="button" value="Publicar">
        </div>
    </section>
    <footer>
        <div class="footer__menu">
            <ul>
                <li><a href="#header">Inicio</a></li>
                <li><a href="#reventa">Reventa</a></li>
                <li><a href="#eventos">Eventos</a></li>
            </ul>
        </div>
        <div class="footer__logo">
            <p>logo</p>
        </div>
        <div class="footer__redes">
            <li><img src="images/logos/" alt="logo de instagram"></li>
            <li><img src="images/logos/" alt="logo de tiktok"></li>
            <li><img src="images/logos/" alt="logo de X"></li>
        </div>
        <hr>
        <p>© 2021 TicketMaster</p>
    </footer>  
</body>
</body>
</html>