<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
</head>

<body>
    <section class="login">
        <form class="form" id="formLogin">
            <h1 id="form__titulo">Bienvenido</h1>
            <label class="form__label">Correo electronico</label>
            <input class="form__input" id="login__email" type="text" placeholder="Ingresa tu correo electronico">
            <label class="form__label">Contraseña</label>
            <input class="form__input" id="login__password" type="password" placeholder="Ingresa tu Contraseña">

            <button class=" form__input form__boton" id="loginBotonIngresar">Ingresar</button>

            <p>¿No tienes una cuenta?<a href="register.html">Registrate</a></p>
        </form>
    </section>
    <script src="../../../js/login.js" type="text/javascript"></script>
</body>

</html>