<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
</head>

<body>
    <section class="login">
        <form class="form" id="formLogin">
            <h1 id="form__titulo">Bienvenido</h1>
            <label class="form__label">Nombre de usuario</label>
            <input class="form__input" type="text" placeholder="Ingresa el Nombre de Usuario">
            <label class="form__label">Contraseña</label>
            <input class="form__input" type="password" placeholder="Ingresa tu Contraseña">
            <input class="form__input form__boton" type="button" value="Ingresar">
            <p>¿No tienes una cuenta?<a href="register.html ">Registrate</a></p>
        </form>
    </section>
</body>

</html>