body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
}

.header {
    background-image: url('/public/images/fondo.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.header--misBoletos {
    background-image: url('/public/images/premium_photo-1684407617296-674b8a0b84ce.avif');
}

.header__navBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    // position: fixed;
    z-index: 100;
    backdrop-filter: blur(10px);

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 16px;
        list-style: none;

        a {
            margin: 0;
            font-weight: 600;
            color: $blanco;
        }

        .searchBar {
            display: flex;
            align-items: center;
            width: 300px;
            max-width: 400px;
            padding: 8px;
            background-color: $blanco;
            border-radius: 50px;

            input {
                width: 100%;
                border: none;
                border-radius: 8px;
                outline: none;
            }
        }
    }

    img {
        width: 24px;
        height: 24px;
    }
}

.header__navBar--blanco{
    background: $blanco;
    nav {

        a {
            color: black;
        }
}
}

.header__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background: linear-gradient(180deg, rgba(24, 24, 27, .1) 60%, rgba(255, 255, 255, 1) 100%);
    height: 100%;

    .header__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 40px;
        padding: 0 32px;
        color: $blanco;
        text-align: justify;

        h1 {
            width: 60%;
            text-align: start;
            font-weight: 700;
            margin: 0;
        }

        p {
            width: 60%;
            color: $blanco;
            text-align: start;
            margin: 0;
            font-weight: 200;
        }

        input {
            margin-top: 24px;
        }
    }

    .header__redes {
        display: flex;
        justify-content: end;
        width: 100%;
        padding: 16px;
        list-style: none;

        img {
            padding-right: 24px;
        }
    }
}