.card,
.card__header,
.card__date,
.card__location {
 display: flex;
 align-items: center;
 gap: 10px;
}

.card__image,
.card__header,
.card__location,
.card__precio,
.card__btn {
 width: 100%;
}

.card__header,
.card__location,
.card__precio {
 flex-direction: row;
}

.card__date,
.card__location {
 justify-content: start;
}
.card__date p,
.card__location p {
 font-size: 16px;
 color: #888888;
}
.card__date img,
.card__location img {
 width: 16px;
 height: 16px;
}

.card__title {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.card {
 flex-direction: column;
 justify-content: center;
 width: 322px;
 height: auto;
 padding: 10px;
 border-radius: 16px;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px;
}
.card .card__image {
 height: 200px;
 border-radius: 8px;
}
.card .card__precio {
 color: #85bb65;
}

.banner {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 80px;
 background-color: #ef4444;
 border-radius: 16px;
 padding: 10px;
 color: #ffffff;
 box-shadow: 0px 6px 4px rgba(24, 24, 27, 0.25) inset;
}
.banner h2 {
 margin: 0;
 font-weight: 600;
}
.banner p {
 color: #ffffff;
 font-weight: 200;
 text-align: center;
}

.event__title {
 font-weight: 600;
 color: #888888;
 margin: 24px;
 text-align: start;
}

main {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 64px;
}

.events {
 display: grid;
 justify-content: center;
 grid-template-columns: repeat(4, 1fr);
 gap: 8px;
}

.event {
 display: grid;
 grid-template-columns: 1fr 2fr;
 gap: 8px;
 margin: 16px;
}

.event_data {
 width: 100%;
 height: 20%;
 border: 3px solid #780000;
 display: flex;
 flex-direction: row;
 padding: 16px;
 border-radius: 8px;
 /* border: 1px solid #e7e7e7; */
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px;
}

.event_img_div {
 display: flex;
 justify-content: center;
 border: 3px solid #0011ff;
 width: 30%;
 height: 100%;
}
.event_img {
 display: flex;
 border-radius: 8px;
 height: 170px;
 /* width: 72.3%; */
 width: 90%;
}

.event_txt {
 border: 3px solid #6aff00;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 padding-left: 1%;
 width: 100%;
 height: 100%;
 padding-block: 1px;
}

.btn-principal {
 background-color: #ef4444;
 color: #ffffff;
 margin: 0;
}

.btn-principal:hover {
 cursor: pointer;
 transition: background-color 0.3s;
 background-color: #dc2626;
}

.div_btn {
 /* border: 3px solid #ff6200; */
}
.event__data p {
 color: #888888;
}
.event__data .price {
 color: #85bb65;
}

.event__ticket {
 display: flex;
 gap: 8px;
 margin-top: 8px;
}
.event__ticket #input__cantidad {
 width: 40px;
}
.event__ticket .icons {
 width: 16px;
}

.event {
 display: grid;
 grid-template-columns: 1fr 2fr;
 gap: 8px;
 margin: 16px;
 justify-content: center;
 align-items: center;
}

.event__img {
 border-radius: 8px;
 height: 100%;
}

.event__data {
 display: flex;
 flex-direction: column;
 padding: 16px;
 border-radius: 8px;
 border: 1px solid #e7e7e7;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px;
}
.event__data p {
 color: #888888;
}
.event__data .price {
 color: #85bb65;
}

.event__ticket {
 display: flex;
 gap: 8px;
 margin-top: 8px;
}
.event__ticket #input__cantidad {
 width: 40px;
}
.event__ticket .icons {
 width: 16px;
}
