<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <!-- <link rel="stylesheet" href="styles/formliarios.css"> -->
    <!-- <link rel="stylesheet" href="../../../public/css/navbar.css"> -->
    <link rel="stylesheet" href="../../../public/css/profile-tabs.css">
    <link rel="stylesheet" href="../../../public/css/profile.css">
</head>

<body>

    <!-- ******************** " NAVBAR " ******************** -->
    <nav>
        <ul>
            <li class="li_img_hamburger">
                <a href="https://www.google.com/">
                    <img src="../../../public/icons/hamburguesa.png" alt="icono de menu">
                </a>
            </li>
            <li class="li_img_logo">
                <a class="a_logo" href="../../../public/index.html">Logo</a>
                <!-- <span>
                </span> -->
            </li>
            <li class="li_user" id="li_UserName">
                UserName
            </li>
            <li class="li_img_exit">
                <a href="https://www.google.com/">
                    <img src="../../../public/icons/logout.png" alt="icono logout">
                </a>
            </li>
        </ul>
    </nav>

    <section class="perfil">
        <div id="perfil__min" class="div_nombre">
            <!-- <img src="../../../public/images/perfil/StockSnap_XUITRGCOXL.jpg" id="fondoPerfil" alt="fondo perfil"></img> -->
            <h2 id="userName__perfil" class="name_txt">Nombre de Usuario</h2>
        </div>

        <!-- <hr> -->

        <div class="tabs">
            <div class="tab-container">
                <div id="tab4" class="tab">
                    <a id="link_edit" href="#tab4">Editar Perfil</a>
                    <div class="tab-content">
                        <!-- ******************** " FORM EDITAR PERFL " ******************** -->
                        <form class="form" id="perfil__form">
                            <div id="password" class="div_form_edit">

                                <h2 class="title_form_event">Editar Perfil</h2>

                                <label class="form_lbl_editp" for="nombre">Nombre de Usuario</label>
                                <div id="name" class="div_form_name">
                                    <input class="form_input_edit" type="text" name="nombre" id="perfil__name">
                                    <!-- <button class="form_boton_edit" id="pefil__btn--edit" type="button">Editar</button> -->
                                </div>

                                <label class="form_lbl_editp" for="password">Contraseña Actual</label>
                                <input class="form__input" type="password" name="password" id="perfil__password">

                                <label class="form_lbl_editp" for="password">Contraseña Nueva</label>
                                <input class="form__input" type="password" name="passwordNew" id="perfil__passwordNew">

                                <label class="form_lbl_editp" for="password">Validar</label>
                                <input class="form__input" type="password" name="passwordValidate"
                                    id="perfil__passwordValidate">

                                <button class="form_boton_edit" id="pefil__btn--changePass" type="button">Guardar
                                    Cambios</button>
                            </div>

                            <!-- <a href="index.html">Ver mis finanzas</a> -->
                        </form>
                    </div>
                </div>
                <div id="tab3" class="tab">
                    <a href="#tab3">Crear Evento</a>
                    <div class="tab-content">
                        <!-- ******************** " FORM AGREGAR EVENTO " ******************** -->
                        <form class="form__addEvent" id="perfil__form__addVEvent">
                            <!-- <div id="name">
                                <label class="form__label" for="nombre">Nombre de Usuario</label>
                                <input class="form__input" type="text" name="nombre" id="perfil__name" value="" disabled>
                                <button class="form__boton" id="pefil__btn--edit" type="button">Editar</button>
                            </div> -->
                            <div id="nuevo_evento" class="div_new_event">
                                <h2 class="title_form_event">Crear Evento</h2>
                                <label class="form_lbl_event" for="evento-t">Evento (título)</label>
                                <input class="form__input" type="text" name="evento" id="eventoid">

                                <label class="form_lbl_event" for="fechaevento">Fecha</label>
                                <input class="form_input" type="date" name="fecha__e" id="fecha__eid">

                                <label class="form_lbl_event" for="ubicacion">Ubicacion del evento</label>
                                <input class="form__input" type="text" name="ubicacion" id="ubicacionid">

                                <label class="form_lbl_event" for="txt">Descripción</label>
                                <textarea name="text_des" id="text_des_id" rows="5"></textarea>

                                <!-- <input class="form__input" type="text" name="text__d" id="text__did"> -->
                                <button class="form_btn_publicar" id="pefil__btn_publicar"
                                    type="button">Publicar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="tab2" class="tab">
                    <a href="#tab2">Mis Eventos</a>
                    <div class="tab-content">
                        <h2>Titulo 2</h2>
                        <p>Lorem ipsum ...</p>
                    </div>
                </div>
                <div id="tab1" class="tab">
                    <a href="#tab1">Mis Boletos</a>
                    <div class="tab-content">
                        <p id="error_boletos"></p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

    </section>
    <script src="../../../js/profile.js"></script>
</body>

</html>