<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagos</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
</head>

<body>
    <section class="pago__boleto">
        <section class="pago__info">

        </section>
        <section class="pago__metodos">
            <section class="pago__metodos--tarjeta">
                <hr>
                <br>
                <div id="paypal-button-container"></div>
                <!-- <form class="tarjeta__datos form pago">
                    <h2>DATOS DE TU TARJETA</h2>
                    <input class="form__input" type="text" placeholder="Número de tarjeta" name="infoTarjeta">
                    <input class="form__input" type="text" placeholder="Nombre del titular" name="infoTarjeta">
                    <input class="form__input" type="text" placeholder="Fecha de expiración" name="infoTarjeta">
                    <input class="form__input" type="text" placeholder="Código de seguridad" name="infoTarjeta">
                    <input type="submit" class="btn btn-principal" id="pagar__btn" value="Pagar">
                    <a href="/frontend/public/index.html" class="btn btn-secundario">Cancelar</a>
                </form> -->
            </section>


            <!-- <br> -->
            <hr>
        </section>
    </section>
    <script
        src="https://www.paypal.com/sdk/js?client-id=AWB0-ZVSEkOsNwHA8Zccusdbzw5Wrnd-nsbNiuNVplkFzn_mvU27cxAG38KCvVdsrJMvRTOmxu3SG3OR&currency=USD"></script>
    <script src="../../../js/pagos.js"></script>
</body>

</html>