<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <!-- <style>
        .container_card_ {
            display: flex;
            flex-direction: row;
            border: 2px solid red;
            width: 200%;
            height: 100%;
        }
    </style> -->
</head>

<body>

    <header class="header header--misBoletos">
        <section class="header__navBar">
            <nav>
                <li><img src="../../../public/icons/hamburguesaBlanco.png" alt="icono de menu"></li>
                <li><a href="../../../public/index.html">Logo</a></li>
                <li>
                    <div class="searchBar">
                        <input type="search" placeholder="Buscar">
                    </div>
                </li>
                <li>
                    <a id="link_UserName" href="../user/profile.html">UserName</a>
                </li>
                <li>
                    <img src="../../../public/icons/logoutBlanco.png" alt="icono del logout">
                </li>
            </nav>
        </section>

        <section class="header__data">
            <section class="header__info">
                <h1 class="info__title">
                    Mis Boletos
                </h1>
                <p class="info__description">
                    Gestiona todos tus boletos de manera fácil y rápida. Aquí puedes ver la fecha y el evento de tus
                    boletos, cuántos tienes disponibles y optar por vender aquellos que no puedas usar. Mantén el
                    control total de tus compras y ventas en un solo lugar.
                </p>
                <input type="button" class="btn btn-principal info__btn" value="Ver Eventos">
            </section>

            <section class="header__redes">
                <li><img src="../../../public/images/logos/redesSociales__insta.png" alt="logo de instagram"></li>
                <li><img src="../../../public/images/logos/redesSociales__tiktok.png" alt="logo de tiktok"></li>
                <li><img src="../../../public/images/logos/redesSociales__x.png" alt="logo de X"></li>
            </section>
        </section>
    </header>
    <main id="boletosContent">

        <!-- <section class="event contenedor">
            <img class="event__img" src="../../../public/images/noiseporn-JNuKyKXLh8U-unsplash.jpg"
                alt="imagen del evento">
            <div class="event__data">
                <h2 class="data__title" id="titulo_txt">Titulo del evento</h2>
                <p class="data__description" id="descripcion_txt">Descripcion</p>
                <div class="card__location">
                    <p id="ubicacion_txt">Ubicacion</p>
                    <img src="../../../public/icons/ubicacion_icono.png" alt="icono de ubicacion">
                </div>
                <div class="card__date">
                    <p id="fecha_txt">Fecha</p>
                    <img src="../../../public/icons/fecha__icono.png" alt="icono de calendario">
                </div>
                <p class="data__type">VIP</p>
                <p class="price" id="precio_txt">$ Precio</p>
                <input class="btn btn-principal btn__resale" id="" type="button" value="Revender">
            </div>
        </section> -->

        <!-- <section id="boletosContent" class="event contenedor">
            
        </section> -->

    </main>
    <footer>
        <div class="footer__menu">
            <li><a href="#header">Inicio</a></li>
            <li><a href="resale.html">Reventa</a></li>
            <li><a href="#eventos">Eventos</a></li>
        </div>
        <div class="footer__logo">
            <p>logo</p>
        </div>
        <div class="footer__redes">
            <li><img src="../../../public/images/logos/redesSociales__insta.png" alt="logo de instagram"></li>
            <li><img src="../../../public/images/logos/redesSociales__tiktok.png" alt="logo de tiktok"></li>
            <li><img src="../../../public/images/logos/redesSociales__x.png" alt="logo de X"></li>
        </div>
        <hr>
        <p>© 2021 TicketMaster</p>
    </footer>
    <script src="../../../js/myTickets.js"></script>
</body>

</html>