<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revender</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
</head>

<body>
    <header>
        <section class="header__navBar header__navBar--blanco">
            <nav>
                <li><img src="../../../public/icons/hamburguesa.png" alt="icono de menu"></li>
                <li><a href="../../../public/index.html">Logo</a></li>
                <li>
                    <a id="link_UserName" href="../../../source/views/user/profile.html">UserName</a>
                </li>
                <li>
                    <img src="../../../public/icons/logout.png" alt="">
                </li>
            </nav>
        </section>
    </header>
    <section class="banner contenedor">
        <h2 class="banner__title">Reventa</h2>
        <p class="banner__descirption">Navega por nuestra selección y asegura tu entrada para conciertos, partidos,
            obras de teatro y más. No dejes pasar la oportunidad de vivir experiencias inolvidables. ¡Compra tus boletos
            de reventa hoy mismo y no te quedes fuera!</p>
    </section>

    <section class="event contenedor">
        <img class="event__img" src="../../../public/images/noiseporn-JNuKyKXLh8U-unsplash.jpg" alt="imagen del evento">
        <div class="event__data">
            <h2 class="data__title">Titulo del evento</h2>
            <p class="data__description">Descripcion</p>
            <div class="card__location">
                <p>Ubicacion</p>
                <img src="../../../public/icons/ubicacion_icono.png" alt="icono de ubicacion">
            </div>`
            <div class="card__date">
                <p>Fecha</p>
                <img src="../../../public/icons/fecha__icono.png" alt="icono de calendario">
            </div>
            <p class="data__type">VIP</p>
            <p class="price">$ Precio</p>
            <input class="btn btn-principal btn__resale" id="" type="button" value="Comprar">
        </div>
    </section>
    <section class="event contenedor">
        <img class="event__img" src="../../../public/images/noiseporn-JNuKyKXLh8U-unsplash.jpg" alt="imagen del evento">
        <div class="event__data">
            <h2 class="data__title">Titulo del evento</h2>
            <p class="data__description">Descripcion</p>
            <div class="card__location">
                <p>Ubicacion</p>
                <img src="../../../public/icons/ubicacion_icono.png" alt="icono de ubicacion">
            </div>`
            <div class="card__date">
                <p>Fecha</p>
                <img src="../../../public/icons/fecha__icono.png" alt="icono de calendario">
            </div>
            <p class="data__type">VIP</p>
            <p class="data__price">$ Precio</p>
            <p class="price">$</p>
            <input class="btn btn-principal btn__resale" id="" type="button" value="Comprar">
        </div>
    </section>
    <section class="event contenedor">
        <img class="event__img" src="../../../public/images/noiseporn-JNuKyKXLh8U-unsplash.jpg" alt="imagen del evento">
        <div class="event__data">
            <h2 class="data__title">Titulo del evento</h2>
            <p class="data__description">Descripcion</p>
            <div class="card__location">
                <p>Ubicacion</p>
                <img src="../../../public/icons/ubicacion_icono.png" alt="icono de ubicacion">
            </div>`
            <div class="card__date">
                <p>Fecha</p>
                <img src="../../../public/icons/fecha__icono.png" alt="icono de calendario">
            </div>
            <p class="data__type">VIP</p>
            <p class="data__price">$ Precio</p>
            <p class="price">$</p>
            <input class="btn btn-principal btn__resale" id="" type="button" value="Comprar">
        </div>
    </section>
    <h3>Eventos Relacionados</h3>
    <section class="events contenedor">
        <div class="card">
            <img src="../../../public/images/noiseporn-JNuKyKXLh8U-unsplash.jpg" alt="imagen del evento"
                class="card__image"></img>
            <div class="card__header">
                <h4 class="card__title">Titulo del evento Titulo del evento Titulo del evento</h4>
                <div class="card__date">
                    <p>Fecha</p>
                    <img src="../../../public/icons/fecha__icono.png" alt="icono de calendario">
                </div>
            </div>
            <div class="card__location">
                <p>Ubicacion</p>
                <img src="../../../public/icons/ubicacion_icono.png" alt="icono de ubicacion">
            </div>
            <p class="card__precio"> $ Precio</p>
            <input type="button" class="btn btn-principal card__btn" value="Ver Mas...">
        </div>
        <div class="card">
            <img src="../../../public/images/noiseporn-JNuKyKXLh8U-unsplash.jpg" alt="imagen del evento"
                class="card__image"></img>
            <div class="card__header">
                <h4 class="card__title">Titulo del evento Titulo del evento Titulo del evento</h4>
                <div class="card__date">
                    <p>Fecha</p>
                    <img src="../../../public/icons/fecha__icono.png" alt="icono de calendario">
                </div>
            </div>
            <div class="card__location">
                <p>Ubicacion</p>
                <img src="../../../public/icons/ubicacion_icono.png" alt="icono de ubicacion">
            </div>
            <p class="card__precio"> $ Precio</p>
            <input type="button" class="btn btn-principal card__btn" value="Ver Mas...">
        </div>
        <div class="card">
            <img src="../../../public/images/noiseporn-JNuKyKXLh8U-unsplash.jpg" alt="imagen del evento"
                class="card__image"></img>
            <div class="card__header">
                <h4 class="card__title">Titulo del evento Titulo del evento Titulo del evento</h4>
                <div class="card__date">
                    <p>Fecha</p>
                    <img src="../../../public/icons/fecha__icono.png" alt="icono de calendario">
                </div>
            </div>
            <div class="card__location">
                <p>Ubicacion</p>
                <img src="../../../public/icons/ubicacion_icono.png" alt="icono de ubicacion">
            </div>
            <p class="card__precio"> $ Precio</p>
            <input type="button" class="btn btn-principal card__btn" value="Ver Mas...">
        </div>
        <div class="card">
            <img src="../../../public/images/noiseporn-JNuKyKXLh8U-unsplash.jpg" alt="imagen del evento"
                class="card__image"></img>
            <div class="card__header">
                <h4 class="card__title">Titulo del evento Titulo del evento Titulo del evento</h4>
                <div class="card__date">
                    <p>Fecha</p>
                    <img src="../../../public/icons/fecha__icono.png" alt="icono de calendario">
                </div>
            </div>
            <div class="card__location">
                <p>Ubicacion</p>
                <img src="../../../public/icons/ubicacion_icono.png" alt="icono de ubicacion">
            </div>
            <p class="card__precio"> $ Precio</p>
            <input type="button" class="btn btn-principal card__btn" value="Ver Mas...">
        </div>
    </section>
    <footer>
        <div class="footer__menu">
            <li><a href="../../../public/index.html">Inicio</a></li>
            <li><a href="">Reventa</a></li>
            <li><a href="">Eventos</a></li>
        </div>
        <div class="footer__logo">
            <p>logo</p>
        </div>
        <div class="footer__redes">
            <li><img src="../../../public/images/logos/redesSociales__insta.png" alt="logo de instagram"></li>
            <li><img src="../../../public/images/logos/redesSociales__tiktok.png" alt="logo de tiktok"></li>
            <li><img src="../../../public/images/logos/redesSociales__x.png" alt="logo de X"></li>
        </div>
        <hr>
        <p>© 2021 TicketMaster</p>
    </footer>
    <script src="../../../js/rasale.js"></script>

</body>

</html>