<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evento</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
</head>

<body>
    <header id="header" class="header--negro">
    </header>


    <section class="event contenedor">
        <img class="event__img" src="../../../public/images/noiseporn-JNuKyKXLh8U-unsplash.jpg" alt="imagen del evento">
        <div class="event__data">
            <h2 class="data__title">Titulo del evento</h2>
            <p class="data__description">Descripcion</p>
            <div class="card__location">
                <p>Ubicacion</p>
                <img src="../../../public/iconos/ubicacion_icono.png" alt="icono de ubicacion">
            </div>
            <div class="card__date">
                <p>Fecha</p>
                <img src="../../../public/iconos/fecha__icono.png" alt="icono de calendario">
            </div>

            <p class="price">$</p>
            <a href="/frontend/source/views/boletos/pagos.html" class="btn btn-principal" id="btn__comprar">Comprar</a>
        </div>
    </section>

    <footer>
        <div class="footer__menu">
            <li><a href="../../../public/index.html">Inicio</a></li>
            <li><a href="">Reventa</a></li>
            <li><a href="">Eventos</a></li>
        </div>
        <div class="footer__logo">
            <p>logo</p>
        </div>
        <div class="footer__redes">
            <li><img src="../../../public/images/logos/redesSociales__insta.png" alt="logo de instagram"></li>
            <li><img src="../../../public/images/logos/redesSociales__tiktok.png" alt="logo de tiktok"></li>
            <li><img src="../../../public/images/logos/redesSociales__x.png" alt="logo de X"></li>
        </div>
        <hr>
        <p>© 2021 TicketMaster</p>
    </footer>
    <script src="/frontend/js/header.js"></script>
    <script src="../../../js/event.js"></script>
    <script src="/frontend/js/pagos.js"></script>
    <script src="/frontend/js/boletosReventa.js"></script>
</body>

</html>