<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form id="formLogin" class="formulario">
        <h1>Bienvenido</h1>
        <label class="form__label">Nombre de usuario</label>
        <input class="form__input" type="text" placeholder="UserName">
        <label class="form__label">Contraseña</label>
        <input class="form__input" type="password" placeholder="Contraseña">
        <input class="form__input" type="button" value="Ingresar">
        <p>¿No tienes una cuenta?<a href="register.html ">Registrate</a></p>
    </form>
</body>
</html>